<?xml version='1.0' encoding='utf-8'?>
<widget id="com.richpolis.cordova.checkenginemovil" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Checkengine</name>
    <description>
        Aplicacion de busqueda de servicios para tu automovil.
    </description>
    <author email="richpolis@gmail.com" href="http://richpolisystems.com">
        Ricardo Alcantara Gomez
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
