<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.richpolis.cordova.checkengine" version="1.0.0">
    <name>Checkengine</name>
    <description>
        Checkengine, buscador de servicios para tu automovil.
    </description>
    <author email="richpolis@gmail.com" href="http://richpolissystems.com">
        Richpolis Systems
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
