@import 'nib'


box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

color_oscuro = #646464
color_gris_oscuro = #666666
color_naranja = #FF7F00
color_gris_claro = #bbbbbb

body 
	font-size 16px
	background-color white

input[type="text"]
input[type="tel"]	
input[type="email"]
input[type="password"]
	background-color color_gris_oscuro
	color white

.btn
	&.btn-inline
		padding 1em 3em
		font-size 1em

.btn-oscuro
	background-color color_gris_oscuro
	color white
	border-radius 1em
	
.btn-naranja
	background-color color_naranja
	color white
	border-radius 1em

.clearfix
	clear both
		

.descripcion-checkengine
	font-size 1.5em
	line-height 1em
	color color_gris_oscuro

.help
	color color_gris_claro
	& .cuadro
		display inline-block
		width 0px
		height 0px
		border 5px solid color_gris_claro

.row
	width 100%
	margin-bottom 1em
	& .col
		display inline-block
		vertical-align top
	& .col-4
		width 30%
		float left
	& .col-6
		width 50%
		float left
	& .col-8
		width 60%
		float left
	& .col-12
		width 100% 

.text-center
	text-align center	

.titulo-naranja
	color color_naranja

#imagen-inicio
	display block
	& img
		max-width 250px

ul.lista-checkengine
	margin 0px
	padding 0px
	& li.item-lista-checkengine
		width 50%
		float left
		border 1px solid white
		box-sizing border-box
		&.gris-grande
		&.gris-chico	
		&.gris-mediano
			background-color color_gris_oscuro
			height 50px
		&.gris-grande
			width 100%
		&.gris-mediano
			width 40%
		&.gris-chico
			width 30%
		&.opcion-chico
		&.opcion-mediano
			background-color none
			height 50px
		&.opcion-chico
			width 30%
		&.opcion-mediano
			width 40%
		& a
			display block
			text-align center
			line-height 50px
			

ul.list-empresas
	margin 0
	padding 0
	& .item-empresa
		list-style none
		border 2px solid color_gris_oscuro
		border-radius 25px
		padding 5px
		margin 5px
		& img
			width 60px
			height 60px
	& a.link-item-empresa
		display block
		positon relative
		text-decoration none
		& img
		& h2
		& p
			float left
			
.banner
	float left
	width 100%
	height auto
	text-align center

#imagen-portada
	margin 0
	display block
	position absolute
	top 50%
	left 50%
	margin-top -140px
	margin-left -162px
	

.background-gris-oscuro
	background-color color_oscuro